body {
	background: rgb(2, 0, 36);
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.login_div1,
.login_div2 {
	background: rgb(63, 94, 251);
	background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
	padding: 10px;
	float: none;
	border-radius: 15px;
}


#player1_name,
#player2_name {
	display: inline-block;
	margin-left: 20px;
}

#word {
	width: 40%;
}

#word_display {
	letter-spacing: 10px;
}

#output {
	background: rgb(62,130,80);
	background: radial-gradient(circle, rgba(62,130,80,1) 0%, rgba(16,235,75,1) 100%);
	border-radius: 5px;
	padding: 10px;
	float: none;
	text-align: left;
}